# Credenciales de tu app de PayPal Sandbox.
# Si solo quieres ver la interfaz, puedes no crear .env y el proyecto usara PAYPAL_CLIENT_ID=sb por defecto.
# Para que el checkout capture la compra de verdad en Sandbox, necesitas completar ambos valores:

PAYPAL_CLIENT_ID=TU_CLIENT_ID_SANDBOX
PAYPAL_CLIENT_SECRET=TU_CLIENT_SECRET_SANDBOX
PAYPAL_CURRENCY=USD
POKEMON_LIMIT=30
